//color
$color1 : #ADA1FF;
$color1_2 : #D5CFFF;
$color2 : #F7E64F;
$color2_2 :#EDE599;
$color3 : #53E0CF;
$color3_2 : #9BE2D9;
$color4 : #A2E053;
$color4_2 : #C3E29B;
$color5 : #F7AA4F;
$color5_2 : #EDC799;
$color6 : #DFE6E9;
$color6_2 : #E1E5E6;
$color7 : #FBC8C8;
$color7_2 : #EFD6D6;

//font
$en-main-font : 'VanguardCF', sans-serif;




