@import './globalstyle.scss'; 
@import './font.scss'; 

#profile{
  /* background: url("../img/profile_bg.jpg") no-repeat center center; */
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    opacity: .4;
    height: 100%;
    z-index: -1;
    background: url("../img/picpic.jpg") no-repeat left/100%;
  }
  .profile_h{
    height: 50px;
    h1{
      img{
        width: 50px;
        height: 50px;
      }
    }
  }
  .container{
    width: 90vw;
    margin: 0 auto;
    text-align: right;
    background: rgba(255, 255, 255, 0.1);
    padding: 60px 150px;
    box-sizing: border-box;
    h2{
      font-size: 80px;
      font-family: 'VanguardCF', sans-serif;
      margin-bottom: 40px;
      span{
        border-bottom: 3px solid #ddd;
        text-shadow: 0 2px 4px rgba(255, 255, 255, 0.25);
      }
    }
    .information{
      font-family: 'S_CoreDream_Medium', sans-serif;
      .text{
        p{
          font-size: 24px;
          margin: 40px 0;
          padding-right:10px ;
        }
      }
      .skills{
        font-family: 'VanguardCF', sans-serif;
        padding-top: 30px;
        h3{
          font-size: 80px;
          position: relative;
          padding-bottom: 20px;
          span{
            border-bottom: 3px solid #ddd;
          }
        }
        .skill{
          display: flex;
          padding: 16px;
          justify-content: space-between;
          span{
            width: 130px;
            height: 130px;
            background: #fff no-repeat center center/60px;
            border-radius: 50%;
            display: block;
            &:nth-child(1){border: 8px solid #E55638; background-image: url('../img/logo_html.png');}
            &:nth-child(2){border: 8px solid #35A8DB; background-image: url('../img/logo_css.png');}
            &:nth-child(3){border: 8px solid #CD6799; background-image: url('../img/logo_sass.png');}
            &:nth-child(4){border: 8px solid #0868AC; background-image: url('../img/logo_jquery.png');}
            &:nth-child(5){border: 8px solid #DAB92D; background-image: url('../img/logo_js.png');}
            &:nth-child(6){border: 8px solid #00CCFF; background-image: url('../img/logo_react.png');}
            &:nth-child(7){border: 8px solid #3178C6; background-image: url('../img/logo_ts.png');}
          }
        }
      }
    }
  }
};