@import './globalstyle.scss'; 
@import './font.scss'; 

#project{
  background: url("bg_light.png");
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  .project_h{
    height: 50px;
    line-height: 50px;
    h1{
      img{width: 50px; height: 50px;}
    }
  }
  .project_m{
    width: 1534px; margin: 0 auto;
    perspective: 1000px;
    .pro_list{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 20px;
      h2{
        font-size: 90px;
        font-family: 'VanguardCF', sans-serif;
        width: 25%;
        text-align: center;
        margin-bottom: 50px;
        margin-right: 100px;
        span{border-bottom: 3px solid #ddd; text-shadow: 0 2px 4px rgba(255, 255, 255, 0.25) ;}
      }
      .pro_item{
        width: 290px;
        height: 370px;
        color: #000;
        position: relative;
        margin-right: 60px;
        margin-bottom: 50px;
        padding: 20px;
        box-shadow: 0 0 5px #fff;
        h3{font-family: 'VanguardCF', sans-serif; font-size: 40px;}
        .kr_font{font-family: 'SDSwaggerTTF', sans-serif; font-size: 40px; position: relative; top: -2px;}
        p{
          font-family: 'S_CoreDream_Regular', sans-serif;
          line-height: 30px;
          margin-top: 10px;
        }
        img{
          width: 200px; position: absolute; bottom: 0; right: 0;
        }
        img.detail_photo{width: 170px; position: absolute; bottom: 20px; right: 20px; filter: grayscale(100%);}
        &:hover .detail_photo{  
          filter: grayscale(0%);
        }
      }
      .project1{background: $color1;}
      .project2{background: $color2;}
      .project3{background: $color3;}
      .project4{background: $color4;}
      .project5{background: $color5;}
      .project6{background: $color6;}
      .project7{background: $color7;}
    }
  }
};


