@import '../../components/style/globalstyle.scss'; 
@import '../../components/style/font.scss';


#megabox{
  width: 100vw;
  height: 100vh;
  position: fixed;
  color : #222;
  .color_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $color2_2;
    width: 70vw;
    height: 85vh;
    border-radius: 0 30% 0 0 / 0 40% 0 0;
    padding: 80px 100px;
    .title{
      h2{
        font: 60px 'S_CoreDream_Medium';
        color: #222;
        margin-bottom: 90px;
        a{
          img{
            height: 70px;
            vertical-align: top;
          }
        }
      }
    }
    .text{
      ul{
        li{
          font-family: 'S_CoreDream_Medium';
          font-size: 24px;
          padding-left: 40px;
          margin-bottom: 50px;
          background: url(../img/ico_check.png) no-repeat left/ 24px;
        }
        li.browser{background: url(../img/ico_internet.png) no-repeat left/ 24px;}
      }
      p{
        font-family: 'S_CoreDream_Medium';
        margin: 50px 0;
        font-size: 24px;
        img{
          width: 24px;
          vertical-align: bottom;
          margin-right: 5px;
        }
      }
      .skills{
        position: absolute;
        top: 70px;
        right: 250px;
        .skill_logo{
          height: 100px;
          margin-right: 30px;
        }
      }
    }
  }
  .flow_img{
    img{width: 30%; position: absolute; top: -10%; right: 0; transform: rotate(25deg);
    }
    span{font: 24px 'VanguardCF'; position: absolute; top: 50%; right: 32%; transform: rotate(25deg);}
  }
}